@import url('https://mui.kernelsu.org/mmrl/insets.css');
@import url('https://mui.kernelsu.org/mmrl/colors.css');

:root {
    --top-inset: var(--window-inset-top, 0px);
    --bottom-inset: var(--window-inset-bottom, 0px);

    /* Background colors */
    --bg-primary: var(--background, #F5F5F5);
    --bg-secondary: var(--tonalSurface, #fff);
    --bg-input: var(--surfaceBright, #F5F5F5);

    /* Text colors */
    --text-primary: var(--onSurface, #000);
    --text-secondary: var(--onSurfaceVariant, #757575);

    /* Button colors */
    --btn-primary: var(--primary, #007bff);
    --btn-primary-text: var(--onPrimary, #fff);
    --btn-warning: var(--error, #f44336);

    /* Border colors */
    --border-color: var(--outlineVariant, #ccc);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --bg-primary: var(--background, #151515);
        --bg-secondary: var(--tonalSurface, #292929);
        --bg-input: var(--surfaceBright, #1b1b1b);

        /* Text colors */
        --text-primary: var(--onSurface, #fff);
        --text-secondary: var(--onSurfaceVariant, #C2C2C2);

        /* Button colors */
        --btn-warning: var(--error, #ff6b6b);

        /* Border colors */
        --border-color: var(--outlineVariant, #636363);
    }
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}