/* ====== HEADER ====== */
.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: var(--top-inset);
    height: 80px;
    z-index: 5;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.02s linear;
}

.header h1 {
    margin: 0;
    user-select: none;
    flex: 1;
    text-align: center;
    font-size: 24px;
}

/* ====== SEARCH CONTAINER ====== */
.search-container {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: calc(var(--top-inset) + 80px);
    height: 40px;
    z-index: 6;
    transition: transform 0.02s linear;
}

.seach-input-wrapper {
    width: calc(100vw - 30px);
    max-width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-container input {
    width: 100%;
    padding: 0 15px;
    padding-right: 30px;
    height: 100%;
    outline-color: var(--btn-primary);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-primary);
    background-color: var(--bg-input);
    box-shadow: 0 4px 8px #0003;
}

.clear-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    color: var(--border-color);
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    user-select: none;
}

/* ====== CATEGORY FILTERS ====== */
.category-filters {
    position: fixed;
    top: calc(var(--top-inset) + 125px);
    z-index: 3;
    max-width: calc(100% - 20px);
    display: flex;
    gap: 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 20px;
    opacity: 0;
    overflow-x: auto;
    transition: all 0.1s ease, transform 0.02s linear;
    will-change: transform;
}

.category-filters.loaded {
    opacity: 1;
    gap: 6px;
}

/* Removal filters positioning */
.removal-filters {
    top: calc(var(--top-inset) + 170px);
    will-change: transform;
}

/* ====== APP LISTS ====== */
#removed-list,
#app-list {
    width: calc(100vw - 30px);
    max-width: 900px;
    margin-top: calc(240px + 1em);
    margin-bottom: 100px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/* ====== FLOATING BUTTON ====== */
.floating-button-container {
    position: fixed;
    bottom: calc(var(--bottom-inset) + 95px);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 3;
    transform: translateY(calc(var(--bottom-inset) + 95px + 100%));
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-right: 15px;
    padding: 15px;
    background-color: var(--btn-primary);
    box-shadow: 0 4px 8px #0003;
    border-radius: 15px;
    user-select: none;
    pointer-events: auto;

    svg {
        fill: var(--btn-primary-text)
    }
}

/* ====== FOOTER ====== */
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 80px;
    width: 100%;
    padding-bottom: var(--bottom-inset);
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 4;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    align-items: center;
    text-decoration: none;
    cursor: default;
    user-select: none;
}

.footer-btn label {
    font-size: 12px;
    color: var(--filledTonalButtonContentColor, var(--text-primary));
}

.footer-btn-icon {
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    padding: 0 20px;
    border-radius: 50px;

    svg {
        fill: var(--filledTonalButtonContentColor, var(--text-primary));
    }
}

.focus-btn {
    background-color: transparent;
    padding: 0;
    transition: all 0.1s ease;
}

.focus-btn.loaded {
    background-color: var(--filledTonalButtonContainerColor, var(--border-color));
    padding: 0 20px;
}

#whiteout-btn{display:none;}